<div [@routerTransition]>

    <div>
        <input id="input" name = "recherche" class="searchInput form-control" list="recherche" placeholder="Recherche" (keyup)="filtreName($event)">
    </div>           

    <div>
        <div class="col col-xl-12 col-lg-12" style="padding:0px">

            <div class="card mb-3">
                <table class="table table-hover">
                <tr>
                    <th>Nom</th>
                    <th>Pays</th>
                    <th>Ville</th>

                </tr>
                    <tr class="table" id="displayTable" *ngFor="let entreprise of entrepriseFiltered">
                        <td class="tableau"> {{entreprise.nom}}</td>
                        <td class="tableau"> {{entreprise.pays}}</td>
                        <td class="tableau"> {{entreprise.ville}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>