<div [@routerTransition]>

    <div class="row">
        <div class="col col-xl-12 col-lg-12">

            <div class="card mb-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <div> Entreprise
                                        <input class="form-control" list="recherche_pays" name="myBrowser" placeholder="Entrer une entreprise" />
                                        <datalist id="recherche_pays">
                                            <option>Sopra Steria</option>
                                            <option>Capgemini</option>
                                            <option>SFR</option>
                                        </datalist>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                    <div> Pays
                                        <input class="form-control" list="recherche_pays" name="myBrowser" placeholder="Entrer un pays" />
                                        <datalist id="recherche_pays">
                                            <option>France</option>
                                            <option>Espagne</option>
                                            <option>Italie</option>
                                        </datalist>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div> Ville
                                    <input class="form-control" list="recherche_ville" name="myBrowser" placeholder="Entrer une ville" />
                                    <datalist id="recherche_ville">
                                        <option>Paris</option>
                                        <option>Lyon</option>
                                        <option>Brest</option>
                                        <option>Nantes</option>
                                        <option>Rennes</option>
                                        <option>Marseille</option>
                                    </datalist>
                                </div>
                            </th>
            </tr>
            </thead>
            <tr class="table" *ngFor="let entreprises of entreprises">
                <td> {{entreprises.nom}}</td>
                <td> {{entreprises.pays}}</td>
                <td> {{entreprises.ville}}</td>
            </tr>
            </table>
        </div>
    </div>
</div>
</div>