<div [@routerTransition]>
    <app-page-header [heading]="'Charts'" [icon]="'fa-bar-chart-o'"></app-page-header>

    <button type="button" class="btn btn-secondary margin_button" (click)="toggle()" id="bt">
        {{buttonName}}
    </button>
    <button type="button" class="btn btn-secondary margin_button" (click)="toggle_diag()" id="bt2">
        {{buttonName2}}
    </button>

    <br>
    <hr class="style18">

    <ng-container *ngIf="show">

        <!-- Search form -->
        <form class="form-inline md-form form-sm active-jaune active-jaune-2 mt-2 mb-4 max-width">
            <i class="fa fa-fw fa-search fa-2x"></i>&nbsp;
            <input id="input" name="recherche" class="searchInput form-control form-control-sm ml-3 w-75" type="text"
                placeholder="Rechercher" aria-label="Search" list="recherche" (keyup)="filtreName($event)">
        </form>

        <div>
            <div class="col col-xl-9 col-lg-12" style="padding:0px">

                <div class="card mb-3">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Semestre</th>
                                <th>Entreprise</th>
                                <th>Tuteur</th>
                                <th>StageTrouve</th>
                            </tr>
                        </thead>
                        <tr class="table" id="displayTable" *ngFor="let eleve of elevesFiltered">
                            <td class="tableau"> {{eleve.prenom}}</td>
                            <td class="tableau"> {{eleve.nom}}</td>
                            <td class="tableau"> {{eleve.semestre}}</td>
                            <td class="tableau"> {{eleve.entreprise}}</td>
                            <td class="tableau"> {{eleve.tuteur}}</td>
                            <td class="tableau"> {{eleve.stageTrouve}}</td>
                            <td class="tableau" style="display:none"> {{eleve.visible}}</td>
                            <!-- <td class="tableau"><a class="pdf" href={{stage.pdf}}><img src="../../../assets/images/pdf.png"/></a></td> -->
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <hr class="style18">
    </ng-container>

    <ng-container *ngIf="show_diag">
            <div class="row">
                <div class="col col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            Enibiens dans le monde
                        </div>
                        <div class="card-body">
                            <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            Nombre de stagiaires par pays
                        </div>
                        <div class="card-body">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                                [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                                (chartClick)="chartClicked($event)">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <hr class="style18">
        </ng-container>
</div>