<div [@routerTransition]>
    
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            
            <div class="card mb-3">

                    <div>
                            <p>
                                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    Filtres
                                </a>
                            </p>
                            <div class="collapse" id="collapseExample">
                                <input id="prenomInput" 
                                name = "prenomInput"
                                class="searchInput form-control"
                                list="listPrenom" placeholder="Prénom" (keyup.enter)="onKey($event)">
                                <datalist id="listPrenom">
                                    <option *ngFor="let stage of stages">{{stage.prenom}}</option>
                                </datalist>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <input id="nomInput" 
                                name = "nomInput"
                                class="searchInput form-control"
                                list="listNom"
                                placeholder="Nom">
                                <datalist id="listNom">
                                    <option *ngFor="let stage of stages">{{stage.nom}}</option>
                                </datalist>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <input id="villeInput" 
                                name = "villeInput"
                                class="searchInput form-control"
                                list="listVille"
                                placeholder="Ville">
                                <datalist id="listVille">
                                    <option *ngFor="let stage of stages">{{stage.ville}}</option>
                                </datalist>
                            </div>

                            <div class="collapse" id="collapseExample">
                                <input id="paysInput" 
                                name = "paysInput"
                                class="searchInput form-control"
                                list="listPays"
                                placeholder="Pays">
                                <datalist id="listPays">
                                    <option *ngFor="let stage of stages">{{stage.pays}}</option>
                                </datalist>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <input id="semestreInput" 
                                name = "semestreInput"
                                class="searchInput form-control"
                                list="listSemestre"
                                placeholder="Semestre">
                                <datalist id="listSemestre">
                                    <option *ngFor="let stage of stages">{{stage.semestre}}</option>
                                </datalist>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <input id="specialiteInput" 
                                name = "specialiteInput"
                                class="searchInput form-control"
                                list="listSpecialite"
                                placeholder="Specialité">
                                <datalist id="listSpecialite">
                                    <option *ngFor="let stage of stages">{{stage.spec}}</option>
                                </datalist>
                            </div>
                            <div class="collapse" id="collapseExample">
                                <input id="entrepriseInput" 
                                name = "entrepriseInput"
                                class="searchInput form-control"
                                list="listEntreprise"
                                placeholder="Entreprise">
                                <datalist id="listEntreprise">
                                    <option *ngFor="let stage of stages">{{stage.entreprise}}</option>
                                </datalist>
                            </div>
                                
                        </div>

                <table class="table">      
                            
                    <thead>
                    <tr>   
                        <th>Prénom</th>
                        <th>Nom</th> 
                        <th>Ville</th>
                        <th>Pays</th>
                        <th>Semestre</th>
                        <th>Spécialité</th> 
                        <th>Entreprise</th>
                        <th>Fiche de synthèse</th>
                    </tr>
                    </thead>
                        <tr class="table" id="displayTable" *ngFor="let stage of stagesFiltered">
                            <td> {{stage.prenom}}</td>
                            <td> {{stage.nom}}</td>
                            <td> {{stage.ville}}</td>
                            <td> {{stage.pays}}</td>
                            <td> {{stage.semestre}}</td>
                            <td> {{stage.spec}}</td>
                            <td> {{stage.entreprise}}</td>
                            <td><a href={{stage.pdf}}><img src="../../../assets/images/pdf.png"/></a></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>