<div [@routerTransition]>
    
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            
            <div class="card mb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th> 
                            <div>
                                <input id="prenomInput" 
                                    name = "prenomInput"
                                    class="searchInput form-control"
                                    list="listPrenom" placeholder="Prénom" (keyup.enter)="onKey($event)">
                                    <datalist id="listPrenom">
                                        <option *ngFor="let stage of stages">{{stage.prenom}}</option>
                                    </datalist>
                            </div>
                        </th>
                        <th>
                            <div>
                                <input id="nomInput" 
                                name = "nomInput"
                                class="searchInput form-control"
                                list="listNom"
                                placeholder="Nom">
                                <datalist id="listNom">
                                    <option *ngFor="let stage of stages">{{stage.nom}}</option>
                                </datalist>
                            </div>
 
                        </th>
                        <th>
                                <div>
                                    <input class="form-control" list="recherche_ville" name="myBrowser" placeholder="Ville" />
                                    <datalist id="recherche_ville">
                                        <option>Paris</option>
                                        <option>Lyon</option>
                                        <option>Brest</option>
                                        <option>Nantes</option>
                                        <option>Rennes</option>
                                        <option>Marseille</option>
                                    </datalist>
                                </div>
                            </th>
                            <th>
                                    <div class="btn-group mr-2" role="group" aria-label="First group">
                                        <div>
                                            <input class="form-control" list="recherche_pays" name="myBrowser" placeholder="Pays" />
                                            <datalist id="recherche_pays">
                                                <option>France</option>
                                                <option>Espagne</option>
                                                <option>Italie</option>
                                            </datalist>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <div>
                                                <input class="form-control" list="recherche_semestre" name="myBrowser" placeholder="Semestre" />
                                                <datalist id="recherche_semestre">
                                                    <option>S2</option>
                                                    <option>S4</option>
                                                    <option>S8</option>
                                                    <option>S10</option>
                                                </datalist>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                                <div>
                                                    <input class="form-control" list="recherche_spécialité" name="myBrowser" placeholder="Spécialité" />
                                                    <datalist id="recherche_spécialité">
                                                        <option>Informatique</option>
                                                        <option>Mécatronique</option>
                                                        <option>Electronique</option>
                                                    </datalist>
                                                </div>
                                            </div>
                                        </th>
                                        <th>
                                                <div class="btn-group mr-2" role="group" aria-label="First group">
                                                    <div>
                                                        <input class="form-control" list="recherche_pays" name="myBrowser" placeholder="Entreprise" />
                                                        <datalist id="recherche_pays">
                                                            <option>Sopra Steria</option>
                                                            <option>Capgemini</option>
                                                            <option>SFR</option>
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </th>
                    </tr>
                    </thead>
                        <tr class="table" id="displayTable" *ngFor="let stage of stagesFiltered">
                            <td> {{stage.prenom}}</td>
                            <td> {{stage.nom}}</td>
                            <td> {{stage.ville}}</td>
                            <td> {{stage.pays}}</td>
                            <td> {{stage.semestre}}</td>
                            <td> {{stage.spec}}</td>
                            <td> {{stage.entreprise}}</td>
                            <td><a href={{stage.pdf}}><img src="../../../assets/images/pdf.png"/></a></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>