<div [@routerTransition]>
    
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            
            <div class="card mb-3">
                <table class="table">
                    <thead>
                    <tr>
                        <th> 
                            <div> Prénom:
                                <input id="prenomInput" 
                                    name = "prenomInput"
                                    class="searchInput"
                                    list="listPrenom" (keyup.enter)="onKey($event)">
                                    <datalist id="listPrenom">
                                        <option *ngFor="let stage of stages">{{stage.prenom}}</option>
                                    </datalist>
                            </div>
                        </th>
                        <th>
                            <div> Nom:
                                <input id="nomInput" 
                                name = "nomInput"
                                class="searchInput"
                                list="listNom">
                                <datalist id="listNom">
                                    <option *ngFor="let stage of stages">{{stage.nom}}</option>
                                </datalist>
                            </div>
 
                        </th>
                        <th>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Ville
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                </div>
                            </div>
                            </div>
                        </th>
                        <th><div class="btn-group mr-2" role="group" aria-label="First group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Pays
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                </div>
                            </div>
                        </div></th>
                        <th><div class="btn-group mr-2" role="group" aria-label="First group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Semestre
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                </div>
                            </div>
                        </div></th>
                        <th><div class="btn-group mr-2" role="group" aria-label="First group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Spécialité
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                </div>
                            </div>
                        </div></th>
                        <th><div class="btn-group mr-2" role="group" aria-label="First group">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    Entreprise
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                </div>
                            </div>
                        </div></th>
                    </tr>
                    </thead>
                        <tr class="table" id="displayTable" *ngFor="let stage of stagesFiltered">
                            <td> {{stage.prenom}}</td>
                            <td> {{stage.nom}}</td>
                            <td> {{stage.ville}}</td>
                            <td> {{stage.pays}}</td>
                            <td> {{stage.semestre}}</td>
                            <td> {{stage.spec}}</td>
                            <td> {{stage.entreprise}}</td>
                            <td><a href={{stage.pdf}}><img src="../../../assets/images/pdf.png"/></a></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>