.container {
    padding: 2rem 0rem;
  }
  
  h4 {
    margin: 2rem 0rem 1rem;
  }
  
  .table-image {
    td, th {
      vertical-align: middle;
    }
  }

  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .scrollable-menu {
    height: 10px;
    max-height: 200px;
    overflow-x: hidden;
}

.form-control{
    font-size: 1.3rem;
    margin-right: 5px;
    margin-bottom: 10px;
    width:10%;
}

.active-jaune-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid rgb(3, 29, 87);
    box-shadow: 0 1px 0 0 rgb(3, 29, 87);
}
.active-jaune input[type=text] {
    border-bottom: 1px solid rgb(3, 29, 87);
    box-shadow: 0 1px 0 0 rgb(3, 29, 87);
}

.active-jaune .fa, .active-jaune-2 .fa {
    color: rgb(3, 29, 87);
}


.max-width{
    max-width: 500px;
}
  