<script type="text/javascript" src="shim.min.js"></script>
<script type="text/javascript" src="xlsx.full.min.js"></script>
<div [@routerTransition]>
  <app-page-header [heading]="'Admin'" [icon]="'fa fa-fw fa-gear'"></app-page-header>

  <button type="button" class="btn btn-secondary margin_button" (click)="toggle()" id="bt">
    {{buttonName}}
  </button>
  <button type="button" class="btn btn-secondary margin_button" (click)="toggle_stat()" id="bt2">
    {{buttonName2}}
  </button>
  <button type="button" class="btn btn-secondary margin_button" (click)="toggle_camp()" id="bt3">
    {{buttonName3}}
  </button>
  <br>
  <hr class="style18">


  <ng-container *ngIf="show">
    <div class="col-md-9">
      <form #form>
        <div *ngIf="files_uploaded === 0">
          <!-- <input type="file" class="form-control-file mt-3" placeholder="File Name" name="filename" (change)="upload($event.target.files)"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" /> -->

          <input type="file" class="form-control-file mt-3" placeholder="File Name" name="filename" (change)="xlstoJson($event)"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />

          <div class="progress mt-3" style="height:40px;">
            <div id="trainingProgressBar" class="progress-bar 
                progress-bar-success progress-bar-striped bg-warning active"
              role="progressbar" aria-valuemin="0" aria-valuemax="100" [attr.aria-valuenow]="percentDone"
              [style.width.%]="percentDone">
              {{percentDone}}
            </div>
          </div>
        </div>

        <label *ngIf="inProgress">
          Progression: {{percentDone}}% <br /></label>
      </form>
      <ng-container>
        <div *ngIf="inProgress">
          <p id="status_bytes">{{bytesDone | number:'3.0'}}Ko uploadé sur {{totalBytes | number:'3.0'}}Ko</p>
        </div>
      </ng-container>
      <ng-container *ngIf="uploadSuccess" class="mt-3">
        <p class="font-weight-bold text-success">Téléchargement terminé avec succès !</p>
      </ng-container>
      <div class="container-info">
        <label>
          Fichier téléchargé:
          <span id="uploadedFiles">{{files_uploaded}}</span>
        </label>
      </div>
      <div *ngIf="activate_table">
        <div class="col col-xl-9 col-lg-12" style="padding:0px">
          <div class="card mb-3">
            <table class="table table-hover">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Nom</th>
                  <th scope="col">Taille</th>
                  <th scope="col">Date de dernière modification</th>
                </tr>
              </thead>
              <tr class="table" id="displayTable" *ngFor="let file of file_list">
                <td class="tableau"> {{file.name}}</td>
                <td class="tableau"> {{file.size| number:'3.'}} Ko</td>
                <td class="tableau"> {{file.lastModifiedDate | date:'medium'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="form-group mt-3" style="width:220px;">
        <button type="submit" class="btn btn-primary pull-right" (click)="posthere()">Confirmer</button>
        <button type="reset" class="btn btn-danger" (click)="reset()">Supprimer</button>
      </div>
    </div>
    <br>
    <hr class="style18">
  </ng-container>

  <ng-container *ngIf="show_stat">
    <div class="row">
      <div class="col col-sm-6">
        <div class="card mb-3">
          <div class="card-header">
            Suivi des stages
          </div>
          <div class="card-body">
            <canvas baseChart height="180px" [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
              (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
      <div class="col col-sm-6">
        <div class="card mb-3">
          <div class="card-header">
            Nombre de stagiaires par professeur
          </div>
          <div class="card-body">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
              [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <br>
    <hr class="style18">
  </ng-container>



  <ng-container *ngIf="show_camp">

    <div _ngcontent-c3="" class="row col-md-10">
      <div _ngcontent-c3="" class="col-md-10">
        <div _ngcontent-c3="" class="card">
          <div _ngcontent-c3="" class="card-header">
            <h5>Ouverture de la campagne</h5>
          </div>
          <div _ngcontent-c3="" class="card-body" style="width: 1000px;">

            <div class="btn-group" data-toggle="buttons">

              <label class="btn btn-success btn-lg">
                <input type="checkbox" autocomplete="off"> Semestre 2
                <span class="glyphicon glyphicon-ok"></span>
              </label>

              <label class="btn btn-warning btn-lg">
                <input type="checkbox" autocomplete="off"> Semestre 4
                <span class="glyphicon glyphicon-ok"></span>
              </label>

              <label class="btn btn-info btn-lg">
                <input type="checkbox" autocomplete="off"> Semestre 8
                <span class="glyphicon glyphicon-ok"></span>
              </label>

              <label class="btn btn-dark btn-lg">
                <input type="checkbox" autocomplete="off"> Semestre 10
                <span class="glyphicon glyphicon-ok"></span>
              </label>

              <label class="btn btn-danger btn-lg">
                <input type="checkbox" autocomplete="off"> Contrat Pro
                <span class="glyphicon glyphicon-ok"></span>
              </label>

            </div>

            <button type="button" class="btn btn-primary pull-right btn-lg">Valider</button>

          </div>
        </div>
      </div>
    </div>

    <br>
    <hr class="style18">

    <form class="form-inline md-form form-sm active-jaune active-jaune-2 mt-2 mb-4 max-width">
      <i class="fa fa-fw fa-search fa-2x"></i>&nbsp;
      <input id="input" name="recherche" class="searchInput form-control form-control-sm ml-3 w-75" type="text"
        placeholder="Rechercher" aria-label="Search" list="recherche" (keyup)="filtreName($event)">
    </form>

    <div class="bs-example col col-xl-9 col-lg-12">
      <div class="panel-group" [attr.id]="'accordion_' + i" *ngFor="let stage of stagesFiltered; let i = index;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="list-group-item list-group-item-action list-group-item-secondary search-filter" data-toggle="collapse"
                [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapseOne_' + i">
                <h5 class="font-weight-bold" style="color:rgb(143, 143, 143)"> Semestre {{stage.semestre}} </h5>
                <h5 class="font-weight-bold">{{stage.nom}} {{stage.prenom}} </h5>
                <h6>{{stage.sujet}}</h6>
              </a>

            </h4>
          </div>
          <div [attr.id]="'collapseOne_' + i" class="panel-collapse collapse in">
            <div class="panel-body">
              <table class="table table-hover table-bordered mb-3">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Commentaire</th>
                    <th scope="col">Nombre de stages</th>
                    <th scope="col">Sélectionner</th>
                  </tr>
                </thead>
                <tr class="table" id="displayTable" *ngFor="let tutor of stage.tuteur;let j = index">
                  <td class="tableau"> {{tutor.nom}}</td>
                  <td class="tableau"> {{tutor.prenom}}</td>
                  <td class="tableau"> {{tutor.Commentaire}}</td>
                  <td class="tableau"> {{tutor.numberOfStage}}</td>
                  <td>
                    <div class="custom-control custom-checkbox tableau">
                      <input type="checkbox" class="custom-control-input" id="{{i}}{{j}}" value="tutor.nom" [(ngModel)]="stagesFiltered[i].tuteur[j].checked"
                        (change)="onCheckboxChange(tutor,$event)" name="something">
                      <label class="custom-control-label" for="{{i}}{{j}}"></label>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Confirmer</button>
      </div>
    </div>


    <hr class="style18">


  </ng-container>
  <script lang="javascript" src="dist/xlsx.full.min.js"></script>
</div>